node_modules
.next
out
coverage
storybook-static

.git
.github
.husky
.vscode
.cursor
.claude

*.log
*.tsbuildinfo
.DS_Store

.env
.env.*
!.env.example

**/*.spec.ts
**/*.spec.tsx
**/*.stories.tsx

*.md
